@import "compass_twitter_bootstrap";
@import "animate";

@font-face {
  font-family: 'Designosaur';
  src: url('fonts/designosaur/Designosaur-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
}


body {
  font-family: 'Roboto';
  color: #000;
}

.transition {
    -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-fill-mode: both;
     -moz-transition-fill-mode: both;
       -o-transition-fill-mode: both;
          transition-fill-mode: both;
}


#container {
  position: absolute;
  width: 80%;
  height: 60%;
  left: 50%;
  top: 40%;
  margin: -10% 0 0 -40%;
}
#footer {
  position: absolute;
  padding: 0 20px 20px;
  height: 163px;
  bottom: 0;
  width: 100%;
  img {
    float: left;
  }
}
#made-with-love {
  margin: 130px 0 0 20px;
  font-size: 24px;
  float: left;
  color: #fff;
}
#share-on-twitter {
  float: right;
  font-size: 40px;
  margin: 120px 50px 0 0;
  span {
    font-family: 'Designosaur';
    color: #fff;
  }
}
.tweet {
  img {
    border: 5px solid white;
    margin: 1% 2% 25%;
    float: left;
  }
  h1 {
    font-size: 60px;
    line-height: 70px;
  }
  h2 {
    font-size: 26px;
    text-align: right;
    color: #fff;
    font-style: italic;
    margin-top: 3%;
    span {
      font-weight: normal;
      font-size: 20px;
      color: #000;
    }
  }
}